html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--ini_background) !important;
  color: var(--ini_text) !important;
  font-family: Montserrat, sans-serif !important;
  font-size: 11pt !important;
  line-height: 1.5 !important;
  margin: 0 !important;
  padding: 0 !important;
}

blockquote {
  border-left: 4px solid #ddd;
  padding-left: 10px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
$header_height: 55px;

.header {
  height: $header_height;
  display: flex;
  background-color: var(--hdr_background);
  color: var(--hdr_color);
  white-space: nowrap;
  border-bottom: 1px solid var(--hdr_border);
  img {
    flex: 0;
    margin: 2px 10px;
  }
  #title {
    flex: 1;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #userinfo {
    flex: 0;
    padding: 15px;
    // welcome message
    #welcome {
      display: inline-block;
      font-size: 0.8em;
      font-style: italic;
      text-align: right;
   }
    button {
      font-size: 0.7em;
      margin-left: 10px;
    }
  }
}
.footer {
  background-color: var(--ftr_background);
  color: var(--ftr_color);
  white-space: nowrap;
  border-top: 1px solid var(--hdr_border);
  padding: 2px 10px;
  font-size: 0.8em;
  text-align: center;
}
.content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  // Widths of sidebar and splitter, also set by styles.js
  // grid-template-columns: 250px 7px auto;
}

@media (max-width: 575px) {
  #title>div, #welcome {
    display: none !important;
  }
  .content {
    display: block !important;
  }
}
@media print {
  .content {
    display: block !important;
  }
  .header, .footer,
  #splitter,
  #sidebar,
  .toc {
    display: none !important;
  }
}

a {
  color: var(--link_color);
  &:hover {
    color: var(--link_hover_color);
    text-decoration: none;
  }
}

#splitter {
  background-color: var(--splitter_background);
  border-left: 1px solid var(--splitter_border);
  border-right: 1px solid var(--splitter_border);
  cursor: col-resize;
}

.fix {
  position: absolute;
}

#sidebar {
  background-color: var(--sb_background);
  color: var(--sb_text);
  padding: 10px;
  font-size: var(--sb_text_size);
  * {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  h1,
  h2 {
    font-size: calc(var(--sb_text_size) * 2);
  }
  h3 {
    font-size: calc(var(--sb_text_size) * 1.5);
  }
  h4 {
    font-size: calc(var(--sb_text_size) * 1.1);
  }
  h5 {
    font-size: var(--sb_text_size);
  }
  ul {
    padding-inline-start: 5px;
  }
  li:before {
    content: "- ";
  }
  p, dl, ol, ul {
    margin-bottom: 0.5rem;
  }
}

#contents {
  margin-left: 0;
  max-width: 1100px;
}

.toc {
  float: right;
  margin: 0 0 1.4em 1.4em;
  width: 20em;
  background-color: #e5e5e5;
  color: inherit;
  button {
    width: 100%;
    color: inherit;
    text-decoration: none !important;
  }
  ul {
    font-size: 0.9em;
    padding-inline-start: 15px;
    padding: 0 10px;
    list-style: none;
    & > li > a {
      color: var(--toc_text);
      &:hover {
        color: var(--toc_text_hover);
        text-decoration: none;
      }
    }
  }
}

.pdf {
  width: 100%;
//  height: calc(100vh - var(--header_height)); js does this for us
  border: none;
}

#login-form {
  width: 100%;
  #code {
    text-transform: uppercase;
  }
}
