/**
 * Terrapin Styles
 *
 * VS Code also autoloads this file if you set it
 * in the Markdown Styles setting.
 */

body {
    --infobox-background: #dee2e6;
    --infobox-text: #333;
    --warningbox-background: #fad5a5;
    --warningbox-text: #333;
    --dangerbox-background: #f89a7d;
    --dangerbox-text: #333;
}

h2, h3, h4, h5 {
    margin-top: 0.5rem !important;
}

table {
    border-collapse: collapse;
}
table td, table th {
    padding: 0.4rem 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
table th {
    border-bottom: 2px solid #dee2e6;
}

code {
    color: inherit !important;
    font-size: 0.95em !important;
    font-weight: bold;
}

.highlighter-rouge {
    margin-bottom: 1rem;
}

.highlight {
    padding: 5px;
}

pre {
    background-color: #f8f8f8;
    padding: 5px;
}
pre.highlight {
    margin: 0;
}

/* Our <span class="example"> settings */

.example {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 87.5% !important;
    display: block;
    white-space: pre;
    padding: 5px;
    background-color: #e8ffe8;
    line-height: 1.3rem;
}
.example strong {
    font-weight: normal;
    font-style: italic;
    color: blue;
}
.example em {
    font-weight: normal;
    font-style: italic;
    color: red;
}

/** Use hashes to align images eg note.png#left */

img {
    max-width: 100%;
}
img[src*='#left'] {
    float: left;
    margin-right: 10px;
}
img[src*='#right'] {
    float: right;
    margin-left: 5px;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}

/* The "Up^" marker in the Logo Table of Commands */

table.cmdref .table-up {
    float: right;
    padding-left: 20px;
}
table.cmdref .table-up:after {
    content: ' ^';
}

#tagcloud {
    width: 100%;
    height: 300px;
}

div.turtletalk table, div.turtletalk tbody, div.turtletalk tr, div.turtletalk td, div.turtletalk th {
    border: 0;
    margin: 0;
    padding: 0;
    empty-cells: hide !important;
    max-width: 700px;
    font-size: 0;
}

/* Accordions */
.card-header {
    padding: .25rem 1.25rem !important;
}
.card-header > a {
    color: var(--text) !important;
}

.card-header > a[aria-expanded="true"]:before {
    content: "\25be";
    padding-right: 5px;
}
.card-header > a[aria-expanded="false"]:before {
    content: "\25b8";
    padding-right: 5px;
}

/* Boxes */

.box {
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 10px;
  margin: 0 20px;
  display: block;
}

.box.info {
    background-color: var(--infobox-background);
    color: var(--infobox-text);
}
.box.info:before {
    font: 3em 'Font Awesome 5 Free';
    content: "\f4ad";
    padding-right: 10px;
    float: left;
}
.box.warning {
    background-color: var(--warningbox-background);
    color: var(--warningbox-text);
}
.box.warning:before {
    font: bold 3em 'Font Awesome 5 Free';
    content: "\f071";
    padding-right: 10px;
    color: red;
    float: left;
}
.box.danger {
    background-color: var(--dangerbox-background);
    color: var(--dangerbox-text);
}
.box.danger:before {
    font: bold 3em 'Font Awesome 5 Free';
    content: "\f1e2";
    padding-right: 10px;
    float: left;
}

.col2, .col3, .col4 {
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 10px;
    margin-bottom: 1rem;
}

.col2 {
    grid-template-columns: 50% 50%;
}
.col3 {
    grid-template-columns: 33% 33% 33%;
}
.col4 {
    grid-template-columns: 25% 25% 25% 25%;
}
@media (max-width: 575px) { 
    .col2, .col3, .col4 {
        grid-template-columns: 100%;
    }
}
