body {
    --font: 11pt Montserrat, sans-serif;
    --text: #333;
    --background: #fff;
    /*  border color */
    --border: 1px solid #ccc;
    /* horizontal line */
    --hr_border: 1px solid rgba(0, 0, 0, 0.1);

    /*  links */
    --link_text: Blue;
    --link_hover_text: rgba(0, 0, 255, 0.397);
    --link_hover_background: inherit;
    --link_hover_decoration: underline;

    /*  Table of Contents */
    --toc_background: #f8f9fa;
    --toc_text: #888;
    --toc_text_hover: #0056b3;   /*  same as .btn-link:hover */

    /*  header */
    --hdr-height: 56px;
    --hdr_font: 1.5em Montserrat, sans-serif;
    --hdr_background: #eee;
    --hdr_border: var(--border);
    --hdr_color: #333;
    /*  footer */
    --ftr_font: 0.8em Montserrat, sans-serif;
    --ftr_background: var(--hdr_background);
    --ftr_border: var(--hdr_border);
    --ftr_color: var(--hdr_color);

    /*  sidebar */
    --sb_background: #f8f9fa;
    --sb_text: var(--text);
    --sb_link_text: var(--link_text);
    --sb_link_hover_background: inherit;
    --sb_link_hover_decoration: var(--link_hover_decoration);
    --sb_link_hover_text: var(--link_hover_text);
    --sb_hr_border: var(--hr_border);
    --sb_text_size: 0.8rem;

    /*  splitter */
    --splitter_background: #f8f9fa;
    --splitter_border: #ccc;

    /* TOC */
    --toc_background: #f8f9fa;
    --toc_text: #333;
    --toc_border: var(--border);

}
