---
layout: base
---
<!-- MAIN BGN -->
<div class="container content">
    {% if page.toc != false %}
    <div id="button-bar" class="hide-toc">
        <button class="toggle btn btn-link btn-sm" type="button" data-toggle="collapse" style="float: right"
            data-target="#toc-collapse" aria-expanded="false" aria-controls="toc-collapse">
            Table of Contents
        </button>
    </div>
    {% endif %}
    {% include toc.html %}
    <!-- CONTENT BGN -->
    {{ content }}
    <!-- CONTENT END -->
</div>
<!-- MAIN END -->
