---
layout: base
---

{% capture sidebar %}{% include_relative {{ page.sidebar.file }} %}{% endcapture %}
<script>var sidebar_width = "{{ page.sidebar.width }}";</script>
<div class="header">
    <a href="https://www.terrapinlogo.com" title="Visit Terrapin" target="_blank"><img src="/assets/img/terrapin_logo.png" /></a>
    <div id="title"><div>{{ site.title }}</div></div>
    {% if page.verify %}
    <div id="userinfo">
        <div id="welcome">Welcome, <span id="name"></span>!</div><button id="logout" class="btn btn-sm btn-outline-dark">Log Out</button>
    </div>
    {% endif %}
</div>
<div class="content">
    <div id="sidebar" class="d-none d-sm-block">
        {{ sidebar | markdownify }}
    </div>
    <div id="splitter" class="d-none d-sm-block"></div>
    <div id="contents" class="row">
        <div class="col-12">
            {% include toc.html %}
            <!-- CONTENT BGN -->
            {{ content }}
            <!-- CONTENT END -->
        </div>
    </div>
</div>
<div class="footer">
    {{page.title}}
</div>
