---
layout: base
---

{% capture sidebar %}{% include_relative {{ page.sidebar.file }} %}{% endcapture %}
<script>var sidebar_width = {{ page.sidebar.width }};</script>
<div id="content-header">
    {% include sidebar-header.html %}
</div>
<!-- MAIN BGN -->
<div id="content-main">
    <div id="content-sidebar" class="d-sm-block">
        <button class="toggle btn btn-link btn-sm d-sm-none" type="button" data-toggle="collapse"
            data-target="#sb-collapse" aria-expanded="false" aria-controls="sb-collapse">
            Sidebar
        </button>
        <div id="sb-collapse" class="collapse">{{ sidebar | markdownify }}</div> 
    </div>
    <div id="content-splitter" class="d-none d-sm-block"></div>
        {% include toc.html %}
    <div id="content-right">
        <div class="inner">
        <!-- CONTENT BGN -->
        {{ content }}
        <!-- CONTENT END -->
        </div>
    </div>
</div>
<!-- MAIN END -->
<div id="content-footer">
    {% include sidebar-footer.html %}
</div>
