server {
    server_name cms.terrapinlogo.com;

#    error_log /var/log/nginx/debug.log debug;

    location ~ ^/theme-assets/(.*?)$ {
      root /var/www/theme/assets;
      try_files /$1 =404;
    }

    root /var/www/theme/_auth;
    location /auth.html {
      break;
    }

    location / {
        auth_request /auth.php;
        auth_request_set $auth_cookie $upstream_http_set_cookie;
        add_header Set-Cookie $auth_cookie;
      proxy_pass http://localhost:8080/;
      proxy_set_header Host $host;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection upgrade;
      proxy_set_header Accept-Encoding gzip;
    }
    error_page 401 = @error401;
    location @error401 {
        return 302 /auth.html;
    }

    location ~ [^/]\.php/?.*$ {
      root /var/www/theme/_auth;
        include fastcgi_params;
        fastcgi_pass fastcgi_backend;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    listen [::]:443 ssl; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/cms.terrapinlogo.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/cms.terrapinlogo.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


}
server {
    if ($host = cms.terrapinlogo.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    listen [::]:80;
    server_name cms.terrapinlogo.com;
    return 404; # managed by Certbot


}
